Dear {{candidate_name}}

We found your profile suitable and matching for the {{job_title}} position for {{company_name}}.
The job location for this position is {{location}}
Please kindly have a look into the job description and the company details mentioned below.
If you find this position interesting and exciting,please fill the below questionnaire.
Kindly note that,it is mandatory to fill the questionnaire given below.
We will get back to you ASAP,once your profile is shorlisted for futher discussion.

Company Link: {{com_link}}
Job Description Link: {{desc_link}}
Please fill and submit the by following : {{input_link}}
To Opt Out : {{optout_link}}


Regards,
SlickHire.AI Team 

