{% extends 'base.html' %}
{% block main %}

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <select class="mdl-textfield__input" id="jobId" name="jobId">
      <option></option>
      {% for obj in jobIdList %}
      <option value="{{ obj }}" id = {{ obj }}> {{ obj }}</option>
      {% endfor %}
    </select>
    <label class="mdl-textfield__label" for="octane">JobId</label>
  </div>
&nbsp;&nbsp;&nbsp;
  <button onclick="GetJobIdCandidates()" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
 Submit 
</button>
<div class = "mdl-layout-spacer"></div>
<div class = "mdl-layout-spacer"></div>
<table id="example" class="table-striped table" style="width:100%">
        <thead bgcolor="#2196F3">
            <tr>
		<th></th>
                <th>Name</th>
                <th>Mobile</th>
                <th>Experience</th>
                <th>Institute</th>
                <th>Education</th>
                <th>Employer</th>
		<th>Skills</th>
		<th>Score</th>
		<th>Salary</th>
		<th>Email</th>
		<th>Status</th>
            </tr>
        </thead>

</table>
       <script>
var table
$.fn.dataTable.ext.buttons.alert = {
    className: 'buttons-alert',

    action: function ( e, dt, node, config ) {
    var candidates=[];
    $.each(table.rows('.selected').nodes(), function(i, item) {
    var data = table.row(this).data();
    candidates.push(data[2])
  });
   $.post("send_link/",
    {
       'candidates[]': candidates
    },
    function(data,status){
        $.alert({
        title: 'Alert!',
        content: 'Link Sent!',
    });
    });

    }
};

$(document).ready(function() {
     table = $('#example').DataTable({
	    dom: 'lfBrtip',
            serverSide: false,
            ajax:'data?jobId=' + $('#jobId').find(":selected").text().trim(),
	    orderable: false,
    columnDefs: [ {
            orderable: false,
            className: 'select-checkbox',
            targets:   0
        },
	    { orderable: false, targets: 2 }
    ],
        select: {
            style:    'multi',
            selector: 'td:first-child'
        },
	buttons: {
      buttons: [
            {
                extend: 'alert',
		type: 'button',
		className: 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent',
                text: '<i class=\"material-icons\">email</i>&nbsp;&nbsp;Send Link'
	    }], dom: {
		  button: {
		  className: 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent'
	         }
       }},
	    order: [[ 1, 'asc' ]]
    });
 //table.on( 'click', function (e) {
   //     e.preventDefault();
 
        // Get the column API object
     //   var column = table.column( $(this).attr('data-column') );
 
        // Toggle the visibility
       // column.visible( ! column.visible() );
//    } );


	
	table.ajax.reload();

})
     function GetJobIdCandidates() {
	     console.log("clicked", $('#jobId').find(":selected").text(), $('jobId').find(":selected").val());
     table.ajax.url('data?jobId=' + $('#jobId').find(":selected").text().trim()).load();
	     /*$.ajax({
url: 'data?jobId=' + $('#jobId').find(":selected").text().trim(),
type: "get",
}).done(function (result) {
	console.log("result")
table.clear().draw();
table.rows.add(result).draw();
	//table.ajax.reload(null, false);
}).fail(function (jqXHR, textStatus, errorThrown) {
// needs to implement if it fails
});*/
     }

        </script>

{% endblock %}

