{% extends 'base.html' %}
{% block main %}
 <form  method="post" class="post-form" enctype="multipart/form-data">
{% csrf_token %}
        {{ form.as_p }}
</form> 

<div style="margin-top:15px;">
</div>
<table id="example" class="table table-striped" style="width:100%">
        <thead  table-text-light bgcolor="#2196F3">
	<tr>
                <th>JobId</th>
                <th>Designation</th>
                <th>Experience Range</th>
                <th>Salary Range</th>
                <th>Notice Period</th>
                <th>Skills</th>
		<th>Emails</th>
		<th>Online Test Category</th>
		<th>Cal</th>
		<th>Edi</th>
		<th>Del</th>
        </tr>
        </thead>
</table>
       


<!-- Modal -->
 <div class="modal fade" id="getCodeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-lg">
      <div class="modal-content">
       <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
         <h4 class="modal-title" id="myModalLabel"> API CODE </h4>
       </div>
       <div class="modal-body" id="getCode" style="overflow-x: scroll;">
       Success
       </div>
    </div>
   </div>
 </div>


<!-- Modal -->
<div class="modal" id="exampleModal" tabindex="-1" role="dialog" data-backdrop="false" style="top:40px;" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
	 <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         <div class="form-group form-inline">
  <label>JobId: &nbsp</label>
  <input type="text" class="form-control input-sm" id="jobId">
  <p></p>
	 </div>
<p></p>
<div class="form-group form-inline" id="des">
  <label>Designation:&nbsp</label>
  <input type="text" class="form-control input-sm" id="designation">
</div>
<p></p>
<div class="form-group form-inline">
  <label>Experience Range: &nbsp</label>
  <input type="text" class="form-control input-sm" id="exp">
  <p></p>
         </div>
<div class="form-group form-inline">
  <label>Salary Range: &nbsp</label>
  <input type="text" class="form-control input-sm" id="salary">
  <p></p>
         </div>
<div class="form-group form-inline">
  <label>Notice Period: &nbsp</label>
  <input type="text" class="form-control input-sm" id="notice">
  <p></p>
         </div>
<div class="form-group form-inline">
  <label>Skills: &nbsp</label>
  <input type="text" class="form-control input-sm" id="skills">
  <p></p>
         </div>
<div class="form-group form-inline">
  <label>Emails: &nbsp</label>
  <input type="text" class="form-control input-sm" id="emails">
  <p></p>
         </div>
<div class="form-group form-inline">
  <label>Online Test Category: &nbsp</label>
  <input type="text" class="form-control input-sm" id="onlineTestCategory">
  <p></p>
         </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" id = "save" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<script>
$.fn.dataTable.ext.buttons.alert = {
    className: 'buttons-alert',

    action: function ( e, dt, node, config ) {
           var x = document.getElementById("exampleModalLabel");
            x.innerHTML="";
            $('#jobId').val("");
            $('#designation').val("");
            $('#exp').val("");
            $('#salary').val("");
            $('#notice').val("");
            $('#skills').val("");
            $('#emails').val("");
            $('#onlineTestCategory').val("");

$('#exampleModal').modal('show');
    }};


$('#exampleModal').on('hidden.bs.modal', function () {
location.reload();
})

$(document).ready(function() {

$('#add').click(function(){
	            var x = document.getElementById("exampleModalLabel");
            x.innerHTML="";
            $('#jobId').val("");
            $('#designation').val("");
            $('#exp').val("");
            $('#salary').val("");
            $('#notice').val("");
            $('#skills').val("");
	    $('#emails').val("");
	    $('#onlineTestCategory').val("");

$('#exampleModal').modal('show');
});
$('#save').click(function(){
	console.log("value", $('#emails').val());
    $.post("jprofile/save_job/",
    {
       jobid: $('#jobId').val(),
       designation: $('#designation').val(),
       exp: $('#exp').val(),
       salary: $('#salary').val(),
       notice: $('#notice').val(),
       skills: $('#skills').val(),
       emails: $('#emails').val(),
       onlineProgExamCategory: $('#onlineTestCategory').val(),
    },
    function(data,status){
        $.alert({
        title: 'Alert!',
        content: 'Saved!',
    });
    });
  });
	var table = $('#example').DataTable({
		        "columnDefs": [ {
            "targets": 8,
            "data": null,
				"defaultContent": "<button id=\"edit\" style=\"width: 35px; height: 35px; min-width: initial;\" class=\"mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--primary\"><i class=\"material-icons\">edit</i></button>"
        },
				{ "targets": 9,
            "data": null,
                                "defaultContent": "<button id=\"delete\" style=\"width: 35px; height: 35px; min-width: initial;\" class=\"mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored\"><i class=\"material-icons\">delete</i></button>"
        },
	{"targets": 7,
            "data": null,
		"defaultContent": "<button id=\"cal\" class=\"mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--primary\" style=\"width: 35px; height: 35px; min-width: initial;\"> <i class=\"material-icons\">event</i></button>"
        }	],
		dom: 'lfBrtip',
	            serverSide: false,
		buttons: {
      buttons: [
            {
                extend: 'alert',
                type: 'button',
                className: 'mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored',
                text: "<i class=\"material-icons\">add</i>" 
            }], dom: {
                  button: {
                  className: 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent'
                 }
       }},
            ajax:'jprofile/get_job/'});
table.ajax.reload();

    $('#example tbody').on('click', 'tr', function () {
        /*var data = table.row( this ).data();
	    var x = document.getElementById("exampleModalLabel");
	    x.innerHTML=data[0];
	    $('#jobId').val(data[0]);
	    $('#designation').val(data[1]);
	    $('#exp').val(data[2]);
	    $('#salary').val(data[3]);
	    $('#notice').val(data[4]);
	    $('#skills').val(data[5]);
        $('#exampleModal').modal('show');*/
    } );

$('#example tbody').on( 'click', 'button', function () {
	var data = table.row( $(this).parents('tr') ).data();
	console.log("event",this.className, this.id, event.target.id);
	if (this.id=="edit")
	{
            var x = document.getElementById("exampleModalLabel");
            x.innerHTML=data[0];
            $('#jobId').val(data[0]);
            $('#designation').val(data[1]);
            $('#exp').val(data[2]);
            $('#salary').val(data[3]);
            $('#notice').val(data[4]);
            $('#skills').val(data[5]);
	    $('#emails').val(data[6]);
	    $('#onlineTestCategory').val(data[6]);
        $('#exampleModal').modal('show');

	}
	else if (this.id=="delete")
	{
		    $.post("jprofile/delete_job/",
    {
       jobid: data[0]
    },
    function(data,status){
        $.alert({
        title: 'Alert!',
        content: 'Deleted!',
    });
	    location.reload();
    });

	}
	else
	{
	    window.location = "{{ slickhire_host_url }}" + "/calendar?id=" + data[0]; 
	}
    } );
})

        </script>

{% endblock %}
