{% extends 'base.html' %}
			import {LitElement, html} from 'https://unpkg.com/@polymer/lit-element@0.6.2/lit-element.js?module';

{% block main %}
 <form  method="post" class="post-form" id="onlinetest">
{% csrf_token %}
<div id="test-time-left"> </div>
	<script type="text/javascript">
		'use strict';
		class ScreenSharing {
			  constructor() {
				      this.enableStartCapture = true;
				      this.enableStopCapture = false;
				      this.enableDownloadRecording = false;
				      this.stream = null;
				      this.chunks = [];
				      this.mediaRecorder = null;
				      this.status = 'Inactive';
				      this.recording = null;
				    }

			  static get properties() {
				      return {
					            status: String,
					            enableStartCapture: Boolean,
					            enableStopCapture: Boolean,
					            enableDownloadRecording: Boolean,
					            recording: {
							            type: {
									              fromAttribute: input => input
									            }
							          }
					          };
				    }  

			  static _startScreenCapture() {
				      if (navigator.getDisplayMedia) {
					            return navigator.getDisplayMedia({video: true});
				      } else if (navigator.mediaDevices.getDisplayMedia) {
					            return navigator.mediaDevices.getDisplayMedia({video: true});
					          } else {
								            return navigator.mediaDevices.getUserMedia({video: {mediaSource: 'screen'}});
								          }
				    }

			  async _startCapturing(e) {
				      console.log('Start capturing.');
				      
				      this.status = 'Screen recording started.';
				      this.enableStartCapture = false;
				      this.enableStopCapture = true;
				      this.enableDownloadRecording = false;

				      if (this.recording) {
					            window.URL.revokeObjectURL(this.recording);
					          }

				      this.chunks = [];
				      this.recording = null;
				      this.stream = await ScreenSharing._startScreenCapture();
				      const videoTrack = this.stream.getVideoTracks()[0];
				                                               
				                                                console.info("Track settings: videoTrack.getSettings()");
				                                                console.info(JSON.stringify(videoTrack.getSettings(), null, 2));
				                                                console.info("Track constraints:");
				                                                console.info(JSON.stringify(videoTrack.getConstraints(), null, 2));
				      var jsonObj = JSON.parse(JSON.stringify(videoTrack.getSettings()));
				      if (jsonObj['displaySurface'] != "monitor") {
					      alert("Share Entire Screen")
					      window.location.reload()
			              }
				   
				      this.stream.addEventListener('inactive', e => {
					            console.log('Capture stream inactive - stop recording!');
					            this._stopCapturing(e);
					          });
				      this.mediaRecorder = new MediaRecorder(this.stream, {mimeType: 'video/webm'});
				      this.mediaRecorder.addEventListener('dataavailable', event => {
					            if (event.data && event.data.size > 0) {
							            this.chunks.push(event.data);
							          }
					          });
				      this.mediaRecorder.start(10);
				    }

			  _stopCapturing(e) {
				      console.log('Stop capturing.');
				      this.status = 'Screen recorded completed.';
				      this.enableStartCapture = true;
				      this.enableStopCapture = false;
				      this.enableDownloadRecording = true;

				      this.mediaRecorder.stop();
				      this.mediaRecorder = null;
				      this.stream.getTracks().forEach(track => track.stop());
				      this.stream = null;

				      this.recording = window.URL.createObjectURL(new Blob(this.chunks, {type: 'video/webm'}));
				      var formData = new FormData();
				  var newblob = new Blob(this.chunks, {type: 'video/webm'})
				  var newFile = new File([newblob], "blobfile", {type: 'video/webm', lastModified: Date.now()})
				  console.log("Nice 123",newFile)
				  formData.append("webmasterfile",newFile); // doesn't matter to put codec again until you change it.
				  //formData.append("webmasterfile", this.recording);
				  //alert("Hey",newblob)
				  formData.append("id", $('input[name=strId]').val());
				  fetch('https://147.139.32.102/captureMedia', {
					  method: "POST", // *GET, POST, PUT, DELETE, etc.
					  mode: "cors", // no-cors, cors, *same-origin
					  cache: "no-cache", // *default, no-cache, reload, force-cache, only-if-cached
					  redirect: "follow", // manual, *follow, error
					  referrer: "no-referrer", // no-referrer, *client
					  body: formData, // body data type must match "Content-Type" header
				  })
				 //console.log("Nice",formData.values())
				  //var request = new XMLHttpRequest();
				  //request.open("POST", "https://147.139.32.102/captureMedia");
				  //request.send(formData);
				      

				    }

			  _downloadRecording(e) {
				      console.log('Download recording.');
				      this.enableStartCapture = true;
				      this.enableStopCapture = false;
				      this.enableDownloadRecording = false;

				      const downloadLink = document.createElement('a');;
				      downloadLink.addEventListener('progress', e => console.log(e));
				      downloadLink.href = this.recording;
				      downloadLink.download = 'screen-recording.webm';
				      downloadLink.click();
				    }
		}
                var recorder = new ScreenSharing()
		window.addEventListener('load', function (e) {
			  recorder._startCapturing(e)
			})
                window.addEventListener('submit', function(e){
			    recorder._stopCapturing(e)
			    recorder._downloadRecording(e)
		})
	</script>
<script type="text/javascript">
    if(localStorage.getItem("total_seconds")){
        var total_seconds = localStorage.getItem("total_seconds");
    } else {
        var total_seconds = 86400;
    }
    var minutes = parseInt(total_seconds/60);
    var seconds = parseInt(total_seconds%60);
    function submitform(){ document.getElementById('onlinetest').submit(); }
    function startTimer() {
        localStorage.setItem("total_seconds", 100);
        countDownTimer();
    }
    function countDownTimer(){
        if(seconds < 10){
            seconds= "0"+ seconds ;
        }if(minutes < 10){
            minutes= "0"+ minutes ;
        }
        
        document.getElementById("test-time-left").innerHTML = "Time Left :"+minutes+"minutes"+seconds+"seconds";
        if(total_seconds <= 0){
            setTimeout("submitform();",1);
        } else {
            total_seconds = total_seconds -1 ;
            minutes = parseInt(total_seconds/60);
            seconds = parseInt(total_seconds%60);
            localStorage.setItem("total_seconds",total_seconds)
            setTimeout("countDownTimer()",1000);
        }
    }
    setTimeout("startTimer()",1000);
   function ReportTimer() {
      $('input[name=strId]').val();     
      var saveData = $.ajax({
      type: 'POST',
      url: "https://147.139.32.102/updateActivity",
      data: {id : $('input[name=strId]').val() , totalTime : localStorage.getItem("total_seconds") , 'csrfmiddlewaretoken': '{{ csrf_token }}'}, 
      dataType: "text",
      success: function(resultData) { 
	  if(localStorage.getItem("total_seconds") > resultData){
            localStorage.setItem("total_seconds", resultData);  
            total_seconds = resultData;
         }
     }
});
    if(localStorage.getItem("total_seconds") > 10) {
       setTimeout("ReportTimer()",5000);
    }
}
    setTimeout("ReportTimer()",5000);
</script>

{% for question in qs %}
    {% for id, qtype, question, choice1, choice2, choice3, choice4, oldanswer in question %}
        {% if qtype %}
		    <strong>Q{{ id }} {{ question }}</strong>
            <div class="form-group">
                {% if oldanswer == choice1 %}
                <input type="radio" id="choice1" name="answer{{ id }}" value="{{ choice1 }}" checked>
                {% else %}
                <input type="radio" id="choice1" name="answer{{ id }}" value="{{ choice1 }}">
                {% endif %}
                <label for="choice1">{{ choice1 }}</label><br>
                
                {% if oldanswer == choice2 %}
                <input type="radio" id="choice2" name="answer{{ id }}" value="{{ choice2 }}" checked>
                {% else %}
                <input type="radio" id="choice2" name="answer{{ id }}" value="{{ choice2 }}">
                {% endif %}
                <label for="choice2">{{ choice2 }}</label><br>
                
                {% if oldanswer == choice3 %}
                <input type="radio" id="choice3" name="answer{{ id }}" value="{{ choice3 }}" checked>
                {% else %}
                <input type="radio" id="choice3" name="answer{{ id }}" value="{{ choice3 }}">
                {% endif %}
                <label for="choice3">{{ choice3 }}</label><br>
                
                {% if oldanswer == choice4 %}
                <input type="radio" id="choice4" name="answer{{ id }}" value="{{ choice4 }}" checked>
                {% else %}
                <input type="radio" id="choice4" name="answer{{ id }}" value="{{ choice4 }}">
                {% endif %}
                <label for="choice3">{{ choice4 }}</label><br>
            </div>
        {% else %}
            <strong>Q{{ id }} {{ question }}</strong>
            <textarea id="editor{{ id }}" name="answer{{ id }}">{{ oldanswer }}</textarea>
            <script>
                var editor{{ id }} = CodeMirror.fromTextArea
				(document.getElementById('editor{{ id }}'), {
				    mode: '{{ onlineProgLangCM }}',
					theme: "dracula",
					lineNumbers: true,
					autoCloseTags: true
                });
				editor{{ id }}.setSize(900, "100%");
			</script>
            <script>
            const getSubmissionsResults = (sid, baseCompilerURL, save) => {
                    jQuery.ajax({
                        type: "POST",
                        url: `${baseCompilerURL}/submissionResult.php`,
                        data: {
                            requestType: 'fetchResults',
                            sid
                        },
                        dataType: "json",
                        headers: {'origin':'https://ide.geeksforgeeks.org/'},
                        success: function(data) {
                            if (data.status === "SUCCESS") {
                                console.log(data.cmpError)
                                if (data.compResult == "F") {
                                   alert(data.cmpError)
                                } else {
                                    alert("Compilation Success")
                                }                                    
                            } else if (data.status === "IN-QUEUE") {
                                getSubmissionsResults(sid, baseCompilerURL, save)                
                            }
                        }
                    })
                }

            $(document).ready(function(){                
                $("button").unbind("click").click(function(e) {                                     
                    if(this.id != 200) {
                    e.preventDefault();
                    //var editornew{{ id }} = document.querySelector('.CodeMirror').CodeMirror;
                    //alert(editornew{{ id }}.getValue());
                    var originalDiv = $('#editor{{ id }}');
                    var editornew{{ id }} = originalDiv.next('.CodeMirror')[0].CodeMirror;
                    alert(editornew{{ id }}.getValue());
                    $.ajax({
                    type: "POST",
                    url: 'https://cors-anywhere.herokuapp.com/https://ide.geeksforgeeks.org/main.php',
                    data: { 
                    lang: "{{ onlineProgLangIDE }}",
                    code: editornew{{ id }}.getValue(), 
                    input: "", 
                    save: 'false'
                    },
                    dataType: "json",  
                  headers: {'origin':'https://ide.geeksforgeeks.org/'},
                  error: function(error) {
                  console.log(error);                  
                  },
                  asyn:'false',
                  success: function(data){
                      console.log(data.sid);
                      if (data.status === "SUCCESS"){
                      console.log(data);
                      getSubmissionsResults(data.sid,'https://cors-anywhere.herokuapp.com/https://ide.geeksforgeeks.org','false');
                      }
                     //$('#sid').html(message.sid);
                      $('#sid').html($(data.sid).find('#sid *'));
                    }});
                    }
                });
            });                
            </script>            
            <button id="{{ id }}" class="btn btn-secondary">Compile</button><br><br>
        {% endif %}
    {% endfor %}
{% endfor %}
  <input type="hidden" name="strId" value="{{ stringId }}">
  <button id= "200" class="btn btn-primary">Submit</button>
</form> 
{% endblock %}
